


/* Table */
.tname-col {
    width: 30%;
}

.tlogin-col {
    width: 14%;
}

.tnotes-col {
    width: 66%;
}

.db-table thead tr {
    background-color: #fefefe;
}

.db-table tbody tr:hover {
    background-color: #606061;
    color: #fff;
    cursor: pointer;
}