
/* New Employee Modal */
.modal-dialog {
	position: fixed;
    font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
	opacity:1;
	pointer-events: auto;
}

.modal-dialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	text-align: center;
    top: 6px;
    right: 6px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { background: #00d9ff; }

.modal-link {
    text-decoration: none;
    background-color: green;
    color: #fff;
    padding: 10px 16px;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
    border-radius: 2px;
}

.emp-edit {
    margin-bottom: 16px;
}

.input-group {
    margin: 14px;
}

.input-group label {
    margin-right: 6px;
}

/* Table */
.tname-col {
    width: 30%;
}

.tlogin-col {
    width: 14%;
}

.tnotes-col {
    width: 66%;
}

.db-table thead tr {
    background-color: #fefefe;
}

.db-table tbody tr:hover {
    background-color: #606061;
    color: #fff;
    cursor: pointer;
}