table {
    border-collapse: collapse;
}

h4 {
    margin-bottom: 0;
}

.db-table tr, td, th {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

#new-product-form {
    margin: 10px;
}

.input-group {
    padding: 4px;
}