table {
    border-collapse: collapse;
}

h4 {
    margin: 6px;
}

.db-table {
    min-width: 60em;
}

/* edit button column in table */
.tbtn-col {
    width: 8%;
}

/* delete button column in table */
.trem-col {
    width: 4%;
}

/* name column in table */
.tname-col {
    width: 30%;
}

.db-table tr, td, th {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

.tbtn-col button {
    text-align: center;
}

.input-group {
    padding: 4px;
}

/* css grid */
.g-header {
    grid-area: header;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.g-table {
    grid-area: data;
    justify-self: center;
    align-self: center;
}
.g-footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "data data"
        "footer footer";
    column-gap: 14px;
}

/* nav */
nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    width: 90%;
    margin: 8px 22px 8px 22px;
    padding: 0 22px 0 22px;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}
 
nav ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
 
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}