table {
    border-collapse: collapse;
}

h4 {
    margin: 6px;
}


/* Modal */
.modal-dialog {
	position: fixed;
    font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
	opacity:1;
	pointer-events: auto;
}

.modal-dialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	text-align: center;
    top: 6px;
    right: 6px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { background: #00d9ff; }

.modal-link {
    text-decoration: none;
    background-color: green;
    color: #fff;
    padding: 10px 16px;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
    border-radius: 2px;
}

/* links above table */
.edit-links {
    margin-bottom: 16px;
}

/* form */
.input-group {
    margin: 14px;
}

.input-group label {
    margin-right: 6px;
}

/* table */
.db-table {
    min-width: 60em;
}

.db-table tr, td, th {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

.db-table thead tr {
    background-color: #fefefe;
}

.db-table tbody tr:hover {
    background-color: #606061;
    color: #fff;
    cursor: pointer;
}

/* css grid */
.g-header {
    grid-area: header;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.g-footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
}

.g-table {
    grid-area: data;
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "data data"
        "footer footer";
    column-gap: 14px;
}

/* nav */
nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    width: 90%;
    margin: 8px 22px 8px 22px;
    padding: 0 22px 0 22px;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}
 
nav ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
 
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}